@charset "utf-8";

html,body {
    height: 100%;
    background: #000;
    font-family:'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,'ＭＳ Ｐゴシック','MS PGothic',sans-serif;
    font-size: 15px;
}
*:focus { outline: none; }
.cancel { clear: both; }

/* Header Style */
#header {
    width: 100%;
    background-color: #fcfcfc;
    position: fixed;
    top: 0;
}
    /* Header Common Style */
    .header_button {
        width: 196px;
        height: 26px;
        line-height: 30px;
        display: block;
        cursor: pointer;
        text-align: center;
        border: 2px solid #585858;
        border-radius: 10px;
        background: -moz-linear-gradient(top,
            #f7f7f7 0%,
            #fdfbf9 51%,
            #f9f6f4 51%,
            #f3f1ec 100%
        );
        background: -webkit-linear-gradient(top,
            #f7f7f7 0%,
            #fdfbf9 51%,
            #f9f6f4 51%,
            #f3f1ec 100%
        );
    }
    .header_button:active {
        line-height: 29px;
        margin-top: 1px;
    }
    .header_hidden { display: none; }
    /* Header Error Style */
    #header_error {
        width: 100%;
        height: 20px;
        line-height: 23px;
        background-color: #555;
        border-bottom: 3px dashed #000;
        display: none;
        position: fixed;
        top: 0;
    }
        #error_message {
            text-align: center;
            color: #fff;
        }
            #error_message p { color: #bbb; }
            /* Common Error Messages Style */
            .errors_message {
                font-weight: bold;
                color: #f00 !important;
            }
    /* Header Login Style */
    #header_login {
        width: 600px;
        height: 160px;
        margin: 0px auto;
        display: none;
    }
        #login_form { padding-top: 30px; }
            #login_form dl {
                width: 500px;
                margin: 0px auto;
            }
                #login_form dl dt {
                    width: 150px;
                    height: 30px;
                    line-height: 30px;
                    padding-top: 5px;
                    font-size: 15px;
                    color: #949494;
                    display: block;
                    float: left;
                }
                #login_form dl dd { padding: 5px 0px 5px 150px; }
                    #login_form dd input {
                        width: 335px;
                        height: 18px;
                        padding: 5px;
                        font-size: 15px;
                        background-color: #fff;
                        border: 1px solid #585858;
                        border-radius: 5px;
                    }
            #login_form_submit {
                width: 500px;
                margin: 10px auto;
            }
                #login_form_submit_post { float: left; }
                #login_form_submit_addaccount { float: right; }
    /* Header add Account Style */
    #header_add {
        width: 600px;
        margin: 0px auto;
        display: none;
    }
        #add_form { padding-top: 30px; }
            #add_form dl {
                width: 500px;
                margin: 0px auto;
            }
                #add_form dl dt {
                    width: 150px;
                    height: 30px;
                    line-height: 30px;
                    padding-top: 5px;
                    font-size: 15px;
                    color: #949494;
                    display: block;
                    float: left;
                }
                #add_form dl dd { padding: 5px 0px 5px 150px; }
                    #add_form dd input[type="text"],#add_form dd input[type="password"] {
                        width: 340px;
                        height: 18px;
                        padding: 5px;
                        font-size: 15px;
                        border: 1px solid #585858;
                        border-radius: 5px;
                    }
                    #add_form dd ul {
                        width: 350px;
                        list-style: none;
                    }
                        #add_form dd li{
                            width: auto;
                            height: auto;
                            margin: 0px 3px 3px;
                            display: block;
                            float: left;
                            text-align: center;
                        }
                            #add_form dd label > input {
                                text-align: center;
                            }
                            .add_form_img_id_icon {
                                width: 58px;
                                height: 58px;
                                display: block;
                                background: center top no-repeat;
                                border: 3px solid #fff;
                                border-radius: 15px;
                            }
                            .add_form_theme_id_theme {
                                width: 58px;
                                height: 58px;
                                display: block;
                                border: 3px solid #fff;
                                border-radius: 15px;
                            }
                /* Header Add Error Message Style */
                #add_form_login_id_errors , #add_form_screen_name_errors , #add_form_passwd_errors , #add_form_img_id_errors , #add_form_theme_id_errors { display: none; }
                    #add_form_login_id_errors p , #add_form_screen_name_errors p , #add_form_passwd_errors p , #add_form_img_id_errors p , #add_form_theme_id_errors p {
                        margin-left: 15px;
                        line-height: 150%;
                    }
                        #add_form_login_id_errors p:before , #add_form_screen_name_errors p:before , #add_form_passwd_errors p:before , #add_form_img_id_errors p:before , #add_form_theme_id_errors p:before {
                            line-height: 150%;
                            content: "\25B6 \0020";
                            font-size: 11px;
                            color: #f00;
                        }
                #add_form_submit {
                    width: 500px;
                    margin: 10px auto;
                }
                    #add_form_submit_cancel { float: left; }
                    #add_form_submit_post { float: right; }
    /* Header Post Style */
    #header_post {
        width: 600px;
        height: 165px;
        margin: 0px auto;
        display: none;
    }
        #post_form { padding-top: 30px; }
            #post_form textarea {
                width: 468px;
                height: 48px;
                padding: 15px;
                overflow: hidden;
                margin-left: 100px;
                font-size: 15px;
                background-color: #fff;
                border: 1px solid #585858;
                border-radius: 10px;
                resize: none;
            }
            #post_form_submit {
                width: 246px;
                height: 26px;
                line-height: 30px;
                margin: 10px auto;
                text-align: center;
                cursor: pointer;
                border: 2px solid #585858;
                border-radius: 10px;
                background: -moz-linear-gradient(top,
                    #f7f7f7 0%,
                    #fdfbf9 51%,
                    #f9f6f4 51%,
                    #f3f1ec 100%
                );
                background: -webkit-linear-gradient(top,
                    #f7f7f7 0%,
                    #fdfbf9 51%,
                    #f9f6f4 51%,
                    #f3f1ec 100%
                );
            }
                #post_form_submit:active {
                    line-height: 29px;
                    margin-top: 11px;
                }
/* Log Base Style */
#log {
    width: 600px;
    margin: 0px auto;
    padding-top: 180px;
    font-size: 17px;
}
    /* Logs Style */
    .logs {
        margin: 10px 0px;
        color: #fff;
        display: block;
        float: left;
        clear: both;
    }
    .icon {
        width: 80px;
        max-width: 80px;
        padding-top: 65px;
        display: block;
        float: left;
        text-align: center;
        word-wrap: break-word;
        background: center top no-repeat;
    }
    .talk {
        margin-left: 100px;
        line-height: 130%;
        padding: 20px 15px;
        border: 3px solid #fff;
        border-radius: 15px;
        letter-spacing: 5px;
    }
    .system {
        margin: 0px 0px;
        margin-left: 30px;
        font-weight: 100;
        letter-spacing: 5px;
    }
