@charset "utf-8";

/* Icon Style */
    /* Tanaka Theme Style */
    .icon_tanaka { background-image: url("../img/tanaka.png"); }
    /* Setton Theme Style */
    .icon_setton { background-image: url("../img/setton.png"); }
    /* Kanra Theme Style */
    .icon_kanra { background-image: url("../img/kanra.png"); }
    /* Saika Theme Style */
    .icon_saika { background-image: url("../img/saika.png"); }
    /* Bakyura Theme Style */
    .icon_bakyura { background-image: url("../img/bakyura.png"); }
/* Talk Style */
    /* Tanaka Theme Style */
    .talk_tanaka {
        background: -moz-linear-gradient(top,
            #9dc0df 0%,
            #7aa4d0 51%,
            #5e88c3 51%,
            #5873a0 100%
        );
        background: -webkit-linear-gradient(top,
            #9dc0df 0%,
            #7aa4d0 51%,
            #5e88c3 51%,
            #5873a0 100%
        );
    }
    /* Setton Theme Style */
    .talk_setton {
        background: -moz-linear-gradient(top,
            #cfc7c5 0%,
            #9e9298 51%,
            #867981 51%,
            #898287 100%
        );
        background: -webkit-linear-gradient(top,
            #cfc7c5 0%,
            #9e9298 51%,
            #867981 51%,
            #898287 100%
        );
    }
    /* Kanra Theme Style */
    .talk_kanra {
        background: -moz-linear-gradient(
            #f3e273 0%,
            #e7993c 51%,
            #ce791a 51%,
            #dd924c 100%
        );
        background: -webkit-linear-gradient(
            #f3e273 0%,
            #e7993c 51%,
            #ce791a 51%,
            #dd924c 100%
        );
    }
    /* Saika Theme Style */
    .talk_saika {
        background: -moz-linear-gradient(
            #c06e7e 0%,
            #9d1c21 51%,
            #970e12 51%,
            #981412 100%
        );
        background: -webkit-linear-gradient(
            #c06e7e 0%,
            #9d1c21 51%,
            #970e12 51%,
            #981412 100%
        );
    }
    /* Bakyura Theme Style */
    .talk_bakyura {
        background: -moz-linear-gradient(
            #d6ff88 0%,
            #b9ff6e 48%,
            #92e955 60%,
            #557639 100%
        );
        background: -webkit-linear-gradient(
            #d6ff88 0%,
            #b9ff6e 48%,
            #92e955 60%,
            #557639 100%
        );
    }