                <form action="#" method="post" id="add_form">
                    <input type="hidden" name="token">
                    <dl>
                        <dt id="add_form_login_id">ログインID</dt>
                        <dd><input type="text" name="login_id"></dd>
                        <div id="add_form_login_id_errors"></div>
                        <dt id="add_form_screen_name">ハンドルネーム</dt>
                        <dd><input type="text" name="screen_name"></dd>
                        <div id="add_form_screen_name_errors"></div>
                        <dt id="add_form_passwd">パスワード</dt>
                        <dd><input type="password" name="passwd"></dd>
                        <div id="add_form_passwd_errors"></div>
                        <dt id="add_form_img_id">アイコン</dt>
                        <dd>
                            <ul>
                                <li>
                                    <label>
                                        <div class="add_form_img_id_icon icon_tanaka"></div>
                                        <input type="radio" name="img_id" checked value="tanaka">
                                    </label>
                                </li>
                                <li>
                                    <label>
                                        <div class="add_form_img_id_icon icon_setton"></div>
                                        <input type="radio" name="img_id" value="setton">
                                    </label>
                                </li>
                                <li>
                                    <label>
                                        <div class="add_form_img_id_icon icon_kanra"></div>
                                        <input type="radio" name="img_id" value="kanra">
                                    </label>
                                </li>
                                <li>
                                    <label>
                                        <div class="add_form_img_id_icon icon_saika"></div>
                                        <input type="radio" name="img_id" value="saika">
                                    </label>
                                </li>
                                <li>
                                    <label>
                                        <div class="add_form_img_id_icon icon_bakyura"></div>
                                        <input type="radio" name="img_id" value="bakyura">
                                    </label>
                                </li>
                            </ul>
                            <br class="cancel">
                        </dd>
                        <div id="add_form_img_id_errors"></div>
                        <dt id="add_form_theme_id">テーマ</dt>
                        <dd>
                            <ul>
                                <li>
                                    <label>
                                        <div class="add_form_theme_id_theme talk_tanaka"></div>
                                        <input type="radio" name="theme_id" checked value="tanaka">
                                    </label>
                                </li>
                                <li>
                                    <label>
                                        <div class="add_form_theme_id_theme talk_setton"></div>
                                        <input type="radio" name="theme_id" value="setton">
                                    </label>
                                </li>
                                <li>
                                    <label>
                                        <div class="add_form_theme_id_theme talk_kanra"></div>
                                        <input type="radio" name="theme_id" value="kanra">
                                    </label>
                                </li>
                                <li>
                                    <label>
                                        <div class="add_form_theme_id_theme talk_saika"></div>
                                        <input type="radio" name="theme_id" value="saika">
                                    </label>
                                </li>
                                <li>
                                    <label>
                                        <div class="add_form_theme_id_theme talk_bakyura"></div>
                                        <input type="radio" name="theme_id" value="bakyura">
                                    </label>
                                </li>
                            </ul>
                            <br class="cancel">
                        </dd>
                        <div id="add_form_theme_id_errors"></div>
                    </dl>
                    <div id="add_form_submit">
                        <div id="add_form_submit_cancel" class="header_button">ログイン画面に戻る</div>
                        <div id="add_form_submit_post" class="header_button">登録</div>
                        <br class="cancel">
                    </div>
                </form>
