                <form action="#" method="post" id="login_form">
                    <dl>
                        <dt id="login_form_login_id">LoginID</dt>
                        <dd><input type="text" name="login_id"></dd>
                        <dt id="login_form_passwd">Password</dt>
                        <dd><input type="password" name="passwd"></dd>
                    </dl>
                    <div id="login_form_submit">
                        <div id="login_form_submit_post" class="header_button">ログイン</div>
                        <div id="login_form_submit_addaccount" class="header_button">新規登録</div>
                        <br class="cancel">
                    </div>
                </form>
