            <article class="logs" data-logid="${id}">
                <div class="icon icon_${img_id}">${screen_name}</div>
                <div class="talk talk_${theme_id}">{{html log}}</div>
            </article>