                <form action="#" method="post" id="post_form">
                    <input type="hidden" name="token">
                    <textarea name="log"></textarea>
                    <div id="post_form_submit">POST!</div>
                </form>
